<style> body {
  text-align: center;
  padding: 20px;
  background-color: 	#D0D0D0;


}</style>

<div class="jumbotron">
  <h1>
<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
New song </span></h1>

</div>

<h2>Add a new song </h2>
    <%= render "form", song: @song %>
